.lorem-ipsum {
  align-self: stretch;
  position: relative;
  line-height: 125%;
  font-weight: 500;
}
.alt,
.image-icon,
.src {
  position: absolute;
  width: 100%;
  left: 0;
}
.image-icon {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.alt,
.src {
  display: inline-block;
}
.src {
  top: 0;
}
.alt {
  bottom: 0;
}
.image {
  width: 368px;
  position: relative;
  height: 264px;
  overflow: hidden;
  flex-shrink: 0;
  text-align: right;
  font-size: var(--font-size-12xs);
}
.brand-element {
  gap: var(--gap-8xs);
}
.brand-element,
.brand-element-wrapper,
.frame-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-parent {
  width: 1240px;
  flex-direction: row;
  justify-content: center;
  gap: var(--gap-xl);
}
.content {
  align-self: stretch;
  padding: 20px 0;
  gap: var(--gap-xl);
}
.brand,
.content,
.toptab4-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.brand {
  width: 100%;
  position: relative;
  background-color: var(--white);
  height: 832px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--color-darkgray);
  font-family: var(--text-sm-lineheight-5-font-semibold);
}
