.alt4,
.image-icon4,
.src4 {
  position: absolute;
  width: 100%;
  left: 0;
}
.image-icon4 {
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.alt4,
.src4 {
  display: none;
}
.src4 {
  top: 0;
}
.alt4 {
  bottom: 0;
}
.image4 {
  height: 39px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.logo2 {
  width: 39px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-div {
  align-self: stretch;
  height: 25px;
  position: relative;
}
.top-inner1,
.top3,
.visuals {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.top-inner1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-6xs) 0 0;
  max-width: 100%;
}
.top3,
.visuals {
  background-color: var(--white);
}
.top3 {
  align-self: stretch;
  border-bottom: 1px solid var(--color-gainsboro-100);
  flex-direction: row;
  padding: var(--padding-7xs-5) var(--padding-21xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: right;
  font-size: var(--font-size-12xs);
  font-family: var(--component-text-sm);
}
.visuals {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 277px;
  gap: 228px;
  letter-spacing: normal;
}
@media screen and (max-width: 640px) {
  .visuals {
    gap: 114px 228px;
  }
}
@media screen and (max-width: 320px) {
  .visuals {
    gap: 57px 228px;
  }
}
