.left-icon2 {
  height: 14px;
  width: 14px;
  position: relative;
}
.children10,
.right-icon2 {
  position: relative;
  display: none;
}
.children10 {
  width: 45px;
  line-height: 20px;
  font-weight: 600;
}
.right-icon2 {
  height: 14px;
  width: 14px;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 14px;
}
.button1 {
  border-radius: var(--br-7xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-4xs) var(--padding-xs);
  gap: var(--gap-5xs);
}
.accordion-button {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button1 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon1 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton1 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button2 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon2 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton2 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button3 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon3 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton3 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button4 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon4 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton4 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button5 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon5 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton5 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button6 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon6 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton6 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.accordion-button7 {
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
}
.accordionicon7 {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.accordionbutton7 {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  white-space: nowrap;
}
.left-icon3 {
  height: 14px;
  width: 14px;
  position: relative;
}
.children11 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 85px;
}
.right-icon3 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button2 {
  border-radius: var(--br-7xs);
  border: 0.5px solid var(--gray-800);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-2xs);
  gap: var(--gap-5xs);
}
.left-icon4 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.children12 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 150%;
  display: inline-block;
  min-width: 50px;
}
.right-icon4 {
  height: 14px;
  width: 14px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.button-group,
.button3 {
  display: flex;
  flex-direction: row;
}
.button3 {
  border-radius: var(--br-7xs);
  background-color: var(--gray-800);
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs-5) var(--padding-xs);
  gap: var(--gap-5xs);
  color: var(--white);
}
.button-group {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.button-parent {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  min-width: 320px;
  text-align: left;
  font-size: var(--component-text-sm-size);
  color: var(--gray-800);
  font-family: var(--component-text-sm);
}
@media screen and (max-width: 1050px) {
  .button-parent {
    flex: 1;
  }
}
@media screen and (max-width: 450px) {
  .button-group {
    flex-wrap: wrap;
  }
}
