.image-icon8,
.src8 {
  width: 100%;
  top: 0;
  left: 0;
}
.image-icon8 {
  position: absolute;
  height: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.src8 {
  display: none;
}
.alt8,
.image8,
.src8 {
  position: absolute;
}
.alt8 {
  width: 100%;
  bottom: 0;
  left: 0;
  display: none;
}
.image8 {
  top: calc(50% - 20px);
  left: 40px;
  width: 39px;
  height: 39px;
  overflow: hidden;
}
.children6 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.tab3,
.tab4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.tab3 {
  border-bottom: 2px solid var(--gray-800);
  height: 42px;
  flex-direction: row;
}
.tab4 {
  height: 40px;
  cursor: pointer;
}
.tab4,
.tab5,
.tabs {
  flex-direction: row;
}
.tab5 {
  height: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  box-sizing: border-box;
}
.tabs {
  position: absolute;
  bottom: 0;
  left: calc(50% - 82px);
  height: 42px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--text-md-lineheight-6-font-medium-size);
}
.icon1,
.placeholder3 {
  position: absolute;
  top: calc(50% - 10px);
}
.placeholder3 {
  width: calc(100% - 52px);
  left: 12px;
  line-height: 20px;
  display: inline-block;
}
.icon1 {
  right: 8px;
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.left-icon1,
.select {
  position: relative;
  overflow: hidden;
}
.select {
  flex: 1;
  border-radius: var(--br-7xs);
  background-color: var(--white);
  border: 1px solid var(--gray-200);
  box-sizing: border-box;
  height: 32px;
}
.left-icon1 {
  width: 14px;
  height: 14px;
  flex-shrink: 0;
  display: none;
}
.children9 {
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.button,
.select-parent {
  display: flex;
  flex-direction: row;
  gap: var(--gap-5xs);
}
.button {
  border-radius: var(--br-7xs);
  background-color: var(--gray-800);
  height: 32px;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
  color: var(--white);
}
.select-parent {
  position: absolute;
  top: calc(50% - 16px);
  left: 920px;
  width: 320px;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--text-sm-lineheight-5-font-semibold-size);
}
.toptab4 {
  width: 1280px;
  position: relative;
  background-color: var(--white);
  border-bottom: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 50px;
  text-align: right;
  font-size: var(--font-size-12xs);
  color: var(--gray-800);
  font-family: var(--text-sm-lineheight-5-font-semibold);
}
